
*.dll
bin/Debug/netstandard2.0/0Harmony.dll
bin/Debug/netstandard2.0/0Harmony.xml
bin/Debug/netstandard2.0/AK.Wwise.Unity.API.dll
bin/Debug/netstandard2.0/AK.Wwise.Unity.API.WwiseTypes.dll
bin/Debug/netstandard2.0/AK.Wwise.Unity.MonoBehaviour.dll
bin/Debug/netstandard2.0/AK.Wwise.Unity.Timeline.dll
bin/Debug/netstandard2.0/Assembly-CSharp-firstpass.dll
bin/Debug/netstandard2.0/Assembly-CSharp.dll
bin/Debug/netstandard2.0/Castle.Core.dll
bin/Debug/netstandard2.0/com.rlabrecque.steamworks.net.dll
bin/Debug/netstandard2.0/DataLink.Shared.Net.dll
bin/Debug/netstandard2.0/DOTween.dll
bin/Debug/netstandard2.0/DOTweenPro.dll
bin/Debug/netstandard2.0/IGTools.dll
bin/Debug/netstandard2.0/KSPLogging.dll
bin/Debug/netstandard2.0/Microsoft.CSharp.dll
bin/Debug/netstandard2.0/Mono.Cecil.dll
bin/Debug/netstandard2.0/Mono.Security.dll
bin/Debug/netstandard2.0/MonoMod.RuntimeDetour.dll
bin/Debug/netstandard2.0/MonoMod.Utils.dll
bin/Debug/netstandard2.0/NewtonSoft.Json.dll
bin/Debug/netstandard2.0/Newtonsoft.Json.UnityConverters.dll
bin/Debug/netstandard2.0/NotEnoughShips.deps.json
bin/Debug/netstandard2.0/NotEnoughShips.dll
bin/Debug/netstandard2.0/NotEnoughShips.pdb
bin/Debug/netstandard2.0/PriorityQueue.dll
bin/Debug/netstandard2.0/ShapesRuntime.dll
bin/Debug/netstandard2.0/SpaceWarp.dll
bin/Debug/netstandard2.0/SpaceWarp.pdb
bin/Debug/netstandard2.0/System.Configuration.dll
bin/Debug/netstandard2.0/System.Security.dll
bin/Debug/netstandard2.0/Unity.Addressables.dll
bin/Debug/netstandard2.0/Unity.Burst.dll
bin/Debug/netstandard2.0/Unity.Burst.Unsafe.dll
bin/Debug/netstandard2.0/Unity.Collections.dll
bin/Debug/netstandard2.0/Unity.Collections.LowLevel.ILSupport.dll
bin/Debug/netstandard2.0/Unity.InputSystem.dll
bin/Debug/netstandard2.0/Unity.Jobs.dll
bin/Debug/netstandard2.0/Unity.Mathematics.dll
bin/Debug/netstandard2.0/Unity.Postprocessing.Runtime.dll
bin/Debug/netstandard2.0/Unity.ResourceManager.dll
bin/Debug/netstandard2.0/Unity.TextMeshPro.dll
bin/Debug/netstandard2.0/Unity.Timeline.dll
bin/Debug/netstandard2.0/UnityEngine.AccessibilityModule.dll
bin/Debug/netstandard2.0/UnityEngine.AIModule.dll
bin/Debug/netstandard2.0/UnityEngine.AndroidJNIModule.dll
bin/Debug/netstandard2.0/UnityEngine.AnimationModule.dll
bin/Debug/netstandard2.0/UnityEngine.ARModule.dll
bin/Debug/netstandard2.0/UnityEngine.AssetBundleModule.dll
bin/Debug/netstandard2.0/UnityEngine.AudioModule.dll
bin/Debug/netstandard2.0/UnityEngine.ClothModule.dll
bin/Debug/netstandard2.0/UnityEngine.ClusterInputModule.dll
bin/Debug/netstandard2.0/UnityEngine.ClusterRendererModule.dll
bin/Debug/netstandard2.0/UnityEngine.CoreModule.dll
bin/Debug/netstandard2.0/UnityEngine.CrashReportingModule.dll
bin/Debug/netstandard2.0/UnityEngine.DirectorModule.dll
bin/Debug/netstandard2.0/UnityEngine.dll
bin/Debug/netstandard2.0/UnityEngine.DSPGraphModule.dll
bin/Debug/netstandard2.0/UnityEngine.GameCenterModule.dll
bin/Debug/netstandard2.0/UnityEngine.GridModule.dll
bin/Debug/netstandard2.0/UnityEngine.ImageConversionModule.dll
bin/Debug/netstandard2.0/UnityEngine.IMGUIModule.dll
bin/Debug/netstandard2.0/UnityEngine.InputLegacyModule.dll
bin/Debug/netstandard2.0/UnityEngine.InputModule.dll
bin/Debug/netstandard2.0/UnityEngine.JSONSerializeModule.dll
bin/Debug/netstandard2.0/UnityEngine.LocalizationModule.dll
bin/Debug/netstandard2.0/UnityEngine.ParticleSystemModule.dll
bin/Debug/netstandard2.0/UnityEngine.PerformanceReportingModule.dll
bin/Debug/netstandard2.0/UnityEngine.Physics2DModule.dll
bin/Debug/netstandard2.0/UnityEngine.PhysicsModule.dll
bin/Debug/netstandard2.0/UnityEngine.ScreenCaptureModule.dll
bin/Debug/netstandard2.0/UnityEngine.SharedInternalsModule.dll
bin/Debug/netstandard2.0/UnityEngine.SpriteMaskModule.dll
bin/Debug/netstandard2.0/UnityEngine.SpriteShapeModule.dll
bin/Debug/netstandard2.0/UnityEngine.StreamingModule.dll
bin/Debug/netstandard2.0/UnityEngine.SubsystemsModule.dll
bin/Debug/netstandard2.0/UnityEngine.TerrainModule.dll
bin/Debug/netstandard2.0/UnityEngine.TerrainPhysicsModule.dll
bin/Debug/netstandard2.0/UnityEngine.TextCoreModule.dll
bin/Debug/netstandard2.0/UnityEngine.TextRenderingModule.dll
bin/Debug/netstandard2.0/UnityEngine.TilemapModule.dll
bin/Debug/netstandard2.0/UnityEngine.TLSModule.dll
bin/Debug/netstandard2.0/UnityEngine.UI.dll
bin/Debug/netstandard2.0/UnityEngine.UIElementsModule.dll
bin/Debug/netstandard2.0/UnityEngine.UIElementsNativeModule.dll
bin/Debug/netstandard2.0/UnityEngine.UIModule.dll
bin/Debug/netstandard2.0/UnityEngine.UNETModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityAnalyticsModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityConnectModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityCurlModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityWebRequestAssetBundleModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityWebRequestAudioModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityWebRequestModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityWebRequestTextureModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityWebRequestWWWModule.dll
bin/Debug/netstandard2.0/UnityEngine.VehiclesModule.dll
bin/Debug/netstandard2.0/UnityEngine.VFXModule.dll
bin/Debug/netstandard2.0/UnityEngine.VideoModule.dll
bin/Debug/netstandard2.0/UnityEngine.VirtualTexturingModule.dll
bin/Debug/netstandard2.0/UnityEngine.VRModule.dll
bin/Debug/netstandard2.0/UnityEngine.WindModule.dll
bin/Debug/netstandard2.0/UnityEngine.XRModule.dll
obj/Debug/netstandard2.0/NotEnoughShips.pdb
