
obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
obj/Debug/netstandard2.0/NotEnoughShips.AssemblyInfo.cs
obj/Debug/netstandard2.0/NotEnoughShips.AssemblyInfoInputs.cache
obj/Debug/netstandard2.0/NotEnoughShips.assets.cache
obj/Debug/netstandard2.0/NotEnoughShips.csproj.AssemblyReference.cache
obj/Debug/netstandard2.0/NotEnoughShips.csproj.CopyComplete
obj/Debug/netstandard2.0/NotEnoughShips.csproj.CoreCompileInputs.cache
obj/Debug/netstandard2.0/NotEnoughShips.csproj.FileListAbsolute.txt
obj/Debug/netstandard2.0/NotEnoughShips.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/netstandard2.0/NotEnoughShips.GlobalUsings.g.cs
obj/Debug/netstandard2.0/NotEnoughShips.pdb
